**/.git
**/.github
**/.githooks
**/.vs
**/.vscode
**/.idea
**/.claude
**/bin
**/obj
**/node_modules
**/Dockerfile*
**/.dockerignore
**/.gitignore
**/.env
**/var/*.pem
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Testing.json
**/*.md
**/scripts.sh
**/services.sh
